body {
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

#no-nav body {
    padding-top: 0px;
}

.alert-dismissible {
    margin-left: 20px;
    margin-right: 20px;
}

.bigger-150 {
	font-size: 150%;
}